@charset "UTF-8";

.wrap {
		width: 800px;
		margin: auto;
	}
	table {
		width: 750px;
		margin: auto;
		border: 1px solid black;
		border-collapse: collapse;
	}

	th, td {
		border: 1px solid black;
		padding: 5px 10px;  /* 상하5, 좌우10 */
	}

	input[type=text],input[type=password] {
		width: 550px;
		padding: 5px;
	}
	h1{
	text-align: center;}